.btn {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a.btn{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	font: 400 13.3333px Arial;
}

.btn-success {
  background-color: #4CAF50;
}

.btn-info {
  background-color: #5bc0de;
}

.btn-danger {
  background-color: #ec971f;
}

.btn-warning {
  background-color: #d9534f;
}

input[type=text],input[type=password],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
	font-family: arial;
}

.panel{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

input.checkboxLrg
{
width: 25px;
height: 25px;
}

.e-table {
   border-radius: 5px;
   width: 100%;
   text-align: center;
   font-family: arial;
}
.e-table thead th {
   color: #FFFFFF;
   text-align: center;
}

.table-blue {
   border: 2px solid #5bc0de;
}
.table-blue tr:nth-child(even) {
background: #D8F3FF;
}
.table-blue thead {
background: #5bc0de;
}

.table-orange {
   border: 2px solid #ec971f;
}
.table-orange tr:nth-child(even) {
   background: #f4e0c3;
}  
.table-orange thead {
background: #ec971f;
}
 
.table-red{
   border: 2px solid #d9534f;
}
.table-red tr:nth-child(even) {
background: #f2c0bf;
}
.table-red thead {
background: #d9534f;
}
 
.table-green {
border: 2px solid #4CAF50;
}
.table-green tr:nth-child(even) {
background: #c5eac6;
}
.table-green thead {
background: #4CAF50;
}

.column {
	-webkit-column-count: 7; /* Chrome, Safari, Opera */
    -moz-column-count: 7; /* Firefox */
	column-count: 7;
	text-align: center;
}


div.container {
	position: relative;
}

img.A {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 203px;
	left: 200px;
}

img.Arot {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 200px;
	left: 200px;
}

img.B {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 003px;
	left: 400px;
}

img.D {
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: 203px;
	left: 400px;
}